*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: ;
}
.list-items{
    list-style-type: none;
    display: flex;
    justify-content:center;
}
.list-items li a{
    color: white;
    text-decoration: none;
}
#logo{
    width: 348px;
    height: 108px;
    top:25px;
    left:770px ;
}
#conf{
    width: 1920px;
    height: 483px;
    
}
nav{
    background-color:#66B6D4 ;
}
.image-wrapper{
   display: flex;
    justify-content: center;
}


